:root{
    --color-primary: rgb(219, 222, 224);
    --color-secondary: #e6ad11;
}

*,
*::before,
::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 2rem;
    line-height: 1.5;
    overflow: hidden;
}

.app {
    background-color: var(--color-secondary);
    min-width: 35rem; 
    margin: 5rem auto 12rem 0;   
    height: 28rem;  
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 3rem;
}

@media screen and(min-width: 768px){
    .app {
        background-color: var(--color-secondary);
        min-width: 45rem;
        margin: 5rem auto 0 auto;
        height: 30rem;
        border-radius: 15px;
        padding: 2rem;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: space-evenly;
        font-size: 2.5rem;
    }

    .question-section {
        width: 100%;
        position: relative;
        line-height: 1.5;
        font-size: 3.2rem;
    }
    .score-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        padding: 1.5rem 0;
    }
}

.score-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.question-section {
    font-size: 2.4rem;
    width: 100%;
    position: relative;
    line-height: 1.2;
}

.question-count {
    margin-bottom: 2rem;
}

.question-count span {
    font-size: 2.8rem;
}

.question-text {
    margin-bottom: 1.2rem;
}

.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 100%;
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #5625b1;
    border-radius: 15px;
    display: flex;
    padding: 1.4rem 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    border: none;    
    cursor: pointer;
    margin: 0.5rem 0;
    font-weight: 300;    
}


button:hover {
    background-color: #ffffff;
    color: rgb(41, 8, 119); 
    font-weight: 400;
}

button:focus {
    outline: none;
}

button svg {
    margin-right: 0.5rem;
}

@media screen and (min-width: 768px){
    
} 